<div class="page-signin">


	<div class = "toolbar" >
		<img src = "images/arms-small.png" style="width:80px;height:80px;">
		<h1 style = "margin-top:20px;color:black;">Siaya County</h1>
	</div>
	<div class = "flex-container">
		<!--class="signin-body"-->
	<div  class = "flex-content" style = "position:relative;overflow-y:scroll;background-color:white;">
		<!--class="container"-->
		<div  style = "">
			<div class="form-container">
				<div style="height: 250px" ng-hide="showSignUp==false">
					<form class="form-horizontal formFadeIn" ng-hide="tgBio == true">
						<div style="width: 100%; text-align: center;">
							<h3 style="margin-top: 0;">Manual Login</h3>
						</div>
						<fieldset>
							<div class="form-group">
								<div class="input-group input-group-lg" show-errors>
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-user"></span>
									</span> <input type="text" class="form-control"
										placeholder="User Name" ng-model="UserName"
										required="required" name="userName">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-lg" show-errors>
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-lock"></span>
									</span> <input type="password" class="form-control"
										placeholder="password" ng-model="Password" required="required"
										name="password">
								</div>
							</div>
							<div class="form-group"></div>
							<div class="form-group">
								<button type="button"
									class="btn btn-primaryLogin btn-lg btn-block"
									ng-click="Login(UserName,Password)">Log in</button>
							</div>
						</fieldset>
					</form>

				</div>

				<div class="row" ng-hide="showSignUp">

					<div class="col-md-12" style="height: 450px; ">
						<span class="line-thru"
							style="font-size: 18px; font-weight: bold; color: orange;">Sign
							Up</span>
						<section class="panel panel-default">



							<div class="panel-body">
								<form role="form" class="ng-pristine ng-valid">
									<div class="form-group">
										<label for="UserName">User Name</label> <input type="text"
											class="form-control" id="userName" placeholder="User name"
											ng-model="userName">
									</div>
									<div class="form-group">
										<label for="userFullName">Full Name</label> <input type="text"
											class="form-control" id="userFullName"
											placeholder="Full Name" ng-model="userFullName">

									</div>
									<div class="form-group">
										<label for="userNationalId">National Id</label> <input
											type="text" class="form-control" id=""
											placeholder="National Id" ng-model="userNationalId">

									</div>
									<div class="form-group">
										<label for="Password">Password</label> <input type="password"
											class="form-control" id="userPwd" placeholder="Password"
											ng-model="userPwd">
									</div>
									<div class="form-group">
										<label for="Password">Confirm Password</label> <input
											type="password" class="form-control" id="confirmPwd"
											placeholder="Confirm password" ng-model="confirmPwd">
									</div>
									<div class="form-group">
										<label for="groupSelect" style="text-align: right;">UserType</label>
										<select style="width: 100%" ui-select2=""
											ng-model="userTypeSelect" id="userTypeSelect">
											<option data-ng-repeat="userType in userTypes"
												ng-selected="{{userType.userTypeId}}"
												value="{{userType.userTypeId}}">{{userType.userTypeName}}</option>
										</select>
									</div>
									<div class="form-group">
										<label for="userEmail">Email</label> <input type="email"
											class="form-control" id="userEmail" placeholder="Email"
											ng-model="userEmail">

									</div>
									<div class="form-group">
										<label for="userPhone">Phone</label> <input type="text"
											class="form-control" id="userPhone" placeholder="Phone"
											ng-model="userPhone">

									</div>
									<!-- 									<p class="text-muted text-small"> -->
									<!-- 										By clicking on Sign up, you agree to <a href="javascript:;">terms -->
									<!-- 											and conditions</a> and <a href="javascript:;">privacy policy</a> -->
									<!-- 									</p> -->
									<button type="button"
										class="btn btn-primaryLogin btn-lg btn-block"
										ng-click="updSignUpDetails()">Sign up</button>

									<section>
										<p class="text-center text-muted">
											Already have an account? <a href="javascript:;"
												ng-click=showLogin()>Log in now</a>
										</p>
									</section>
								</form>
							</div>
						</section>
					</div>

				</div>
				<section ng-hide="showSignUp==false">
					<p class="text-center">
						<a href="javascript:;">Forgot your password?</a>
					</p>
					<p class="text-center text-muted text-small">

						Don't have an account yet? <a href="javascript:;"
							ng-click="signUp()">Sign up</a>
					</p>
				</section>
			</div>
		</div>
	</div>
	<div class = "flex-content" style = "background-color:white;overflow-y: scroll;">
		<h5 style = "color:black;font-weight: bolder;">About us<h5>
			<p>Details to be added</p>
		<h5 style = "color:black;font-weight: bolder">Siaya County Revenue System</h5>
		<p>Details to be added</p>
		<h5 style = "color:black;font-weight: bolder">Scope</h5>
		<p>Details to be added
		</p>
	</div>
</div>
<div class = "page-footer">
	<div class = "footer-content">
	<h6 style = "color:black">contact us</h6>
	<a href = "siaya@government.go.ke">siaya@government.go.ke</a><br>
	<a href = "siaya@government.go.ke">siaya@government.go.ke</a><br>
	<a href = "siaya@government.go.ke">siaya@government.go.ke</a>
	</div>
	<div class = "footer-content">
	<h6 style = "color:black">contact us</h6>
	 07123456789<br>
	 0723456788<br>
	 0736123987</br>
	</div>
	<div class = "footer-content">
	<h6 style = "color:black">contact us</h6>
	<a href = "www.facebook.com">facebook</a><br>
	<a href = "www.twitter.com">twitter</a>
	</div>
</div>
</div>
