<div class="page" ng-controller="wardCtrl">
	<form role="form" class="formFadeIn" ng-hide="wardEditMode == true ">
		<section class="panel panel-default table-dynamic">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span> ward's
					List</strong>
				<button type="button" class="btn btn-primary pull-right"
					tooltip-placement="left" tooltip="Create New Ward"
					style="margin-top: -3px; height: 25px; margin-right: -8px; width: 60px"
					ng-click="addWard()">
					<span class="glyphicon glyphicon-plus" style="top: -2px"></span>
				</button>
			</div>

			<div class="table-filters">
				<div class="row">
					<div class="col-sm-4 col-xs-6">
						<form>
							<input type="text" placeholder="search"
								class="form-control input-sm" data-ng-model="searchKeywords"
								data-ng-keyup="search()">
						</form>
					</div>
					<div class="col-sm-3 col-xs-6 filter-result-info input-sm">
						<span> Showing {{filteredWards.length}}/{{wards.length}}
							entries </span>
					</div>
				</div>
			</div>

			<table
				class="table table-bordered table-striped table-responsive input-sm">
				<thead>
					<tr>
						<th>
							<div class="th">
								# <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('count') "
									data-ng-class="{active: row == 'count'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-count') "
									data-ng-class="{active: row == '-count'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								Ward Code <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('wardCode') "
									data-ng-class="{active: row == 'wardCode'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-wardCode') "
									data-ng-class="{active: row == '-wardCode'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								Ward Name <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('wardName') "
									data-ng-class="{active: row == 'wardName'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-wardName') "
									data-ng-class="{active: row == '-wardName'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								Sub-County Name <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('subCountyName') "
									data-ng-class="{active: row == 'subCountyName'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-subCountyName') "
									data-ng-class="{active: row == '-subCountyName'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								Status <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('status') "
									data-ng-class="{active: row == 'status'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-status') "
									data-ng-class="{active: row == '-status'}"></span>
							</div>
						</th>

						<th style="width: 60px"></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="ward in currentPageWards">
						<td>{{ward.count}}</td>
						<td>{{ward.wardCode}}</td>
						<td>{{ward.wardName}}</td>
						<td>{{ward.subCountyName}}</td>
						<td>{{ward.status}}</td>
						<td style="padding: 1px;">
							<button type="button" class="btn btn-success"
								style="height: 25px; width: 60px;" tooltip-placement="top"
								tooltip="Modify {{ward.wardName}}" ng-click="editWard(ward)">
								<span class="glyphicon glyphicon-pencil" style="top: -2px;"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<footer class="table-footer input-sm">
				<div class="row">
					<div class="col-md-6 page-num-info">
						<span> Show <select data-ng-model="numPerPage"
							data-ng-options="num for num in numPerPageOpt"
							data-ng-change="onNumPerPageChange()"></select> entries per page
						</span>
					</div>
					<div class="col-md-6 text-right pagination-container">
						<pagination class="pagination-sm" page="currentPage"
							total-items="filteredWards.length" max-size="4"
							on-select-page="select(page)" items-per-page="numPerPage"
							rotate="false" boundary-links="true"></pagination>
					</div>
				</div>
			</footer>
		</section>
	</form>
	<form class="form-horizontal formFadeIn" role="form"
		ng-hide="!wardEditMode">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span> Ward
					Creation</strong>
			</div>
			<div class="panel-body">
				<div class="form-inline ">
					<div class="form-group col-sm-12 noPadding">
						<div class="col-sm-6 noPadding">
							<div class="col-sm-4" style="text-align: right;">
								<label for=serviceCode " class="control-label input-sm">Ward
									Code</label>
							</div>
							<div class="col-sm-8 noPadding">
								<input type="text" class="form-control input-sm"
									style="width: 100%" id="wardCode" maxlength="4"
									placeholder="Code" ng-model="wardCode" ng-disabled="isExisting">
							</div>
						</div>
						<div class="col-sm-6 noPadding">
							<div class="col-sm-4" style="text-align: right;">
								<label for="locationName" class="control-label input-sm">Ward
									Name</label>
							</div>
							<div class="col-sm-8 noPadding">
								<input type="text" class="form-control input-sm"
									style="width: 100%" id="wardName" placeholder="Name"
									ng-model="wardName">
							</div>
						</div>
					</div>
					<div class="form-group col-sm-12 noPadding"
						style="padding-top: 10px">
						<div class="col-sm-6 noPadding">
							<div class="col-sm-4" style="text-align: right;">
								<label for="subCountyName" class="control-label input-sm">Sub-County</label>
							</div>
							<div class="col-sm-8 noPadding">
								<select style="width: 100%" ui-select2=""
									ng-model="subCountySelect" id="subCountySelect">
									<option data-ng-repeat="subCounty in subCounties"
										ng-selected="{{subCounty.subCountyId}}"
										value="{{subCounty.subCountyId}}">{{subCounty.subCountyName}}</option>
								</select>

							</div>
						</div>
						<div class="col-sm-6 noPadding">
							<div class="col-sm-4" style="text-align: right;">
								<label for="active" class="control-label input-sm">Active</label>
							</div>
							<div class="col-sm-8 noPadding">
								<label> <input type="checkbox" id="active"
									ng-model="active" style="margin-top: 10px">
								</label>
							</div>
						</div>
					</div>
					<div class="form-group col-sm-12 noPadding"
						style="padding-top: 10px">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-success input-sm"
								style="width: 100px" ng-click="updWard()">
								<span class="glyphicon glyphicon-ok">Save</span>
							</button>
							<button type="button" class="btn btn-warning input-sm"
								style="width: 100px" ng-click="cancelWard()">
								<span class="glyphicon glyphicon-remove"> Cancel</span>
							</button>

						</div>
					</div>
				</div>
			</div>
		</section>
	</form>
</div>